body {
  font-family: sans-serif;
  text-align: center;
}

#title {
  font-size: 32px;
}

#lastupd {
  font-size: 14px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 5px;
  text-align: left;
}

th {
  padding: 5px;
  text-align: left;
}

.neg {
  color: red;
  font-weight: bold; 
}

.pos {
  color: green;
  font-weight: bold; 
}
